<!-- <h1>Login</h1>
<app-login></app-login>
<h1>Register</h1>
<app-register></app-register>
<h1>Welcome to CodeBlog</h1>

<router-outlet></router-outlet> -->
<!-- <nav>
    
    <a routerLink="/login">Login</a> |
    <a routerLink="/register">Register</a>
  </nav> -->
  
  <!-- The router outlet where the pages will load -->



  <!-- <nav class="top-navbar">
    <h2>Welcome to the Hospital</h2>
    <button (click)="logout()">Logout</button>
   
</nav>
  <nav class="mid-navbar">
    <a href="/dashboard" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About Us</a>
    <a href="/doctor" routerLinkActive="active">Doctors</a>
    <a routerLink="/appointmentstatus" routerLinkActive="active">Appoinment Status</a>
    <a routerLink="/feedback" routerLinkActive="active">Feedback</a>
  </nav> -->
  
  <router-outlet></router-outlet>
  