<nav class="top-navbar">
  <h2>Welcome to the MediHub</h2>
  <button (click)="logout()">Logout</button>
 
</nav>
<nav class="mid-navbar">
  <a href="/dashboard" routerLinkActive="active">Home</a>
    <a href="/about" routerLinkActive="active">About Us</a>
    <a href="/doctor" routerLinkActive="active">Doctors</a>
    <a href="/status" routerLinkActive="active">Appoinment Status</a>
    <a href="/feedback" routerLinkActive="active">Feedback</a>
</nav>

<img src="assets/profile.png" width="30"> <br>
<a href="/edit-profile" routerLinkActive="active">Profile</a>

<div class="container">
  <h2>Submit Feedback</h2>
  <form (submit)="submitFeedback()">
    
    <label for="rating">Rating:</label>
    <select [(ngModel)]="rating" name="rating" required>
      <option *ngFor="let r of [1, 2, 3, 4, 5]" [value]="r">{{ r }}</option>
    </select>

    <label for="comment">Comment:</label>
    <textarea [(ngModel)]="comment" name="comment"></textarea>

    <button type="submit">Submit</button>
  </form>

  
</div>
